/*common Start*/

body {
  margin: 0;
  padding: 0;
  font-family: 'Lato', sans-serif;
  font-size: 18px;
  font-weight: 400;
  color: #999999;
  background-color: #f6f9f9;
}

/*common End*/

/*Header Start*/

header {
  padding: 15px 0;
}
.container {
  width: 80%;

  margin: 0 auto;
  overflow: hidden;
}
.logo {
  margin-top: 20px;
  width: 10%;
  float: left;

}
.logo img {
  width: 100%;
}

.menu {
  float: right;
  width: 40%;

}
.menu ul {
  float: right;
}
.menu ul li {
  float: left;
  list-style: none;
}
.menu ul li a {
  padding: 0 30px;
  display: inline-block;
  color: #2d3950;
  text-decoration: none;
  font-size: 18px;
  transition: .3s;
}

.menu ul li:last-child a {
  padding-right: 0;
}

.menu ul li a:hover {
  color: #15a4fa;
}


/*Header End*/

/*Maino Image Start*/

.main-image {
  background-image: url(../images/main.jpg);
  background-size: cover;
  background-position: center;
}

.content {
  text-align: center;
}

.content h1 {
  margin: 0;
  padding: 0 50px;
  margin-top: 180px;
  margin-bottom: 10px;
  display: inline-block;
  font-size: 120px;
  font-weight: 700;
  text-transform: uppercase;
  color: #fff;
  border-bottom: 2px solid #15a4fa;
}

.content p {
  margin-top: 10px;
  font-size: 20px;
  color: #fff;
}

.content button {
  margin-top: 60px;
  margin-bottom: 180px;
  padding: 15px 40px;
  background: transparent;
  border: none;
  border: 1px solid #15a4fa;
  border-radius: 3px;
  font-family: 'Lato', sans-serif;
  font-size: 18px;
  color: #fff;
  transition: 0.3s;
  cursor: pointer;
}

.content button:hover {
  background-color: #15a4fa;
}

/*Maino Image End*/

/*Paragraph Start*/

.paragraph {
  margin: 70px auto;
  text-align: center;
}
.p-content h1 {
  margin: 0;
  font-size: 40px;
  font-weight: 400;
  color: #2d3950 ;
}

.p-content p {
  line-height: 28px;
  word-spacing: 1px;
  letter-spacing: .1px;
}

/*Paragraph End*/


/*Features Start*/

.features {
  background-color: #fff;
}

.f-text {
  overflow: hidden;
  width: 100%;
  
}

.f-content {
  float: left;
  margin: 80px 20px;
  width: 30%;
  text-align: center;
}

.f-content:first-child {
  margin-left: 0;
}
.f-content:last-child {
  margin-right: 0;
}



.f-icon {
  display: inline-block;
  height: 100px;
  width: 100px;
  background-color: #15a4fa;
  border-radius: 3px;
  background-position: center;
}
.mobile img {
  margin-top: 23px; 
}
.send img {
  margin-top: 30px; 
}
.promote img {
  margin-top: 30px; 
}

.icon-content h2 {
  font-size: 22px;
  color: #2d3950;
}
.icon-content p {
  font-size: 16px;
}

/*Features End*/

/*Showcase Start*/

.s-text h1 {
  margin: 0;
  font-size: 40px;
  font-weight: 400;
  color: #2d3950 ;
}

.s-text p {
  font-size: 16px;
}

.images {
  margin: auto;
}
.image-gallery {  
  overflow: hidden;
}

.image-gallery img {
  float: left;
  width: 30%;
  padding: 15px;
}
/*Showcase End*/

.f-image {
  width: 100%;
  height: 700px;
  background-image: url(../images/form.jpg);
  width: 100%;
  background-size: cover;
  background-position: center;
  position: relative;
  overflow: hidden;
}

/*Form section start*/
section .overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgb(45, 57, 80, .8);
}

.f-text {
  text-align: center;
  margin-top: 60px;
}
/*Title Start*/
.f-text h1 {
  margin: 0;
  font-size: 40px;
  font-weight: 400;
  color: #ffffff ;
}

.f-text p {
  color: #999999;
  padding-bottom: 30px;
}
/*Title End*/

/*Form Start*/

.form {
  width: 43%;
  margin: 0 auto;
  text-align: center;
  color: #999999;
  padding-bottom: 30px;
}

.in-field {
  width: 550px;
  height: 20px;
  padding: 10px;
  background: none;
  border: none;
  border: 1.2px solid #999999;
  border-radius: 3px;
  color: #999999;
}

.message {
  font-family: 'Lato', sans-serif;
  height: 150px;
}

.checkbox {
  margin-top: 30px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.submit{
  padding: 15px 55px;
  background: transparent;
  border: none;
  border: 1px solid #15a4fa;
  border-radius: 3px;
  font-family: 'Lato', sans-serif;
  font-size: 18px;
  color: #fff;
  transition: 0.3s;
  cursor: pointer;
}

.submit:hover{
  background: #15a4fa
}

/*Form End*/

footer {
  padding: 15px 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.copyright  p {
  font-size: 16px;
}

.social {}
.social ul {}
.social ul li {
  list-style: none;
  display: inline-block;
  
}
.social ul li a{
  padding: 10px;
  background: #15a4fa;
  border-radius: 3px;
  height: 35px;
  width: 35px;
}


/*Form section end*/